.customIcon {
	width: 35px;
	height: 35px;
	background-size: cover;
	margin: 0 auto 10px auto;
}

.communitySelect {
	background-image: url("chrome-extension://__MSG_@@extension_id__/images/people.png");
}

.communityownerSelect {
	background-image: url("chrome-extension://__MSG_@@extension_id__/images/peoplecheck.png");
	height: 70px;
}

.ownerSelect {
	background-image: url("chrome-extension://__MSG_@@extension_id__/images/check.png");
}